[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
filterpy = "*"
jax-metal = "*"
ecos = "==2.0.5"
cvxpy = "*"
osqp = "*"

[dev-packages]

[requires]
python_version = "3.11"
